<!DOCTYPE html>
<html>
    <title>Harish's blog</title>
    <body>
        {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}}
        <header>
            <h1><a href = "/">Harish's blog</a></h1>
        </header>

        <article>
            <time>published:20.02.2023, 19:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Machine learning is the ablity of Machine learn by itself without being explictly programmed.</p>
        </article>

        <article>
            <time>published:20.02.2023, 19:00</time>
            <h2><a href="">My second post</a></h2>
            <p>Stock market is one of the leading passive income around the world.</p>
        </article>
    </body>
</html>